
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* my css  */

.header{

    background-color: #076c87;
    height: 100px;
    width: 100%;
}

.header-list{
  margin-left: 70%;
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    gap: 16px;
    margin-right: 40px;
    
    
}

.header-list li{
  margin-top: 30px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    
}
.header-list li:hover{
    color: #f0f0f0;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
}

.footer{
    background-color: #076c87;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    position: relative;
    bottom: 0;
    
}
.footer-span{
  font-size: 15px;
  position: absolute;
  right: 20px;
  color: white  ;
  margin-top: 30px;
  
   
}
.hero-img{
margin-top: 50px;
margin-left: 40%;
  width: 20%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.if {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  color: #076c87;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  text-decoration-color: #076c87;
}
.loop{
  margin-top: 100px;
}
.loop{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  font-size: 30px;
  color: #076c87;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  text-decoration-color: #076c87;
}
.login ,.logout {
    background-color: #076c87; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 30%;
}

.login:hover , .logout:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.btn{
    width: 120px;
    padding: 10px;
    background-color: #076c87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #05586e;
}

  